<!DOCTYPE html>
<html>
  <head>
    <title>BreakfastnBed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if current_user%>
  <%= current_user.fname%>
  <% end %>
    <%= yield %>
  </body>
</html>
